@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

#stack-user-button {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}
